<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Price Predictor</title>
</head>
<body>
    <h1>Stock Price Predictor</h1>
    <h2>Enter the stock symbol</h2>
    <form action="/predict" method="POST">
        <input type="text" name="open" placeholder="Open Price">
        <input type="text" name="high" placeholder="High Price">
        <input type="text" name="low" placeholder="Low Price">
        <input type="text" name="volume" placeholder="Volume">
        <button type="submit">Predict</button>
    </form>
    <h2>Prediction is {{ prediction }}</h2>
</body>
</html>